[2015-03-11 13:46] deviprsd opened #1 "Introduction"
# Intorduction

**Please follow these rules when creating an issue**
- First and foremost do not create pull request against the `gh-pages` branch.
- Naturally if you have doubt or new to the programming world, we will help when after you have done the following tasks. **First try to Google the solutions, find similar problems, issues and if you don't find anything relevant then ask.**
- Feature r

[2015-10-01 10:17] JustasKuizinas opened #3 "Wrong month returned"
I have calendario showing october month, it also shows some November days, but when I use onDayClick.calendario event and click on November first, "dateprop" returns:
`data: Object
day: "1"
month: 10
monthname: "Oct"
weekday: 7
weekdayname: "Sunday"
year: 2015`

it should retrun:
`data: Object
day: "1"
month: 11
monthname: "Nov"
weekday: 7
weekdayname: "Sunday"
year: 2015`

[2015-10-03 08:05] deviprsd commented on #3
What version of Calendario are you using?

[2015-10-03 18:42] JustasKuizinas commented on #3
I use 4.1.0

[2015-10-03 19:41] OShalaby-zz opened #4 "Uncaught SyntaxError"
Hi deviprsd21!

first of all thanks alot for this great plugin, keep it up.

Im using Ruby on Rails for my app. I added v4 of calendario and it seems to work fine, however on a different page that has js to show and hide fields according to a the value of a checkbox, the js don't work at all, in inspect element >> console I'm getting:

Uncaught SyntaxError: Invalid regular expression: /(^|.)calend

[2015-10-04 00:11] OShalaby-zz commented on #4
ok I got past that problem but I'm sure this isn't exactly a solution;

I have a generated json feed with events so what I did is instead of having the function in script tags in the html, is have it in a js file in the assets pipeline inside an ajax call like so:

`$.get('/profiles/'+profileId+'.json', '', function(data) {`

[code]

so that I can add `caldata : data`

and thats it, no more Syntax

[2015-10-06 07:23] deviprsd commented on #4
Hi @OShalaby I would like to state that the error caused is due a syntax error of JQuery which is frankly not Calendario issue. And I can't possibly suggest any fixes if I don't read the your code. Other than that, I received an email from you. I think having date format conversion in Calendario will remove a great burden from users to convert into a fixed format.

[2015-10-06 11:18] deviprsd commented on #3
My test shows something different,
![x](https://cloud.githubusercontent.com/assets/3809354/10307008/adcbedc0-6c48-11e5-967c-0eb311d0f1f4.png)

[2015-10-06 12:46] JustasKuizinas commented on #3
I will attach screenshots below to see where is the bug.

![2015-10-06 15_43_11](https://cloud.githubusercontent.com/assets/5862640/10308822/2d5bdb52-6c41-11e5-9a08-9fef44fcafd2.png)
![2015-10-06 15_42_09](https://cloud.githubusercontent.com/assets/5862640/10308823/2d7e85da-6c41-11e5-99aa-d235be8a26d9.png)

[2015-10-09 02:37] deviprsd commented on #3
You seem to have modified a lot, do you mind if I could take a look at your apps code and figure out the problem?

[2015-10-09 16:22] OShalaby-zz commented on #4
Thanks alot @deviprsd21  I think another really good feature would be to be able to edit events by clicking them

[2015-10-10 17:34] deviprsd commented on #4
Yes, but if you see this is a personal feature. Those who want can do it using apps like x-editable, and if you think more deeply everyone edited data processing will be different so, I don't think calendarios performance should be enhanced so much.

[2015-10-25 22:41] JustasKuizinas commented on #3
Well it's not the app problem because I haven't modified your js library it's problem with calendario js.

[2015-10-29 12:12] JustasKuizinas commented on #3
You cant test it here just open console.
http://webapps.lt/demo/calendario-bug/planner.php

[2015-10-30 18:37] deviprsd commented on #3
Okay, I better go through it!

##

Sent from Bòźi Dâbèl

[2015-10-31 09:03] JustasKuizinas opened #5 "Current day feature"
For example today is 2015-10-31. October 31 block have class fc-today, but when you switch to the next month 2015-11, October 31 dont have class fc-today.

Check this link:
http://webapps.lt/demo/calendario-bug/planner.php

[2015-10-31 18:57] deviprsd commented on #5
I wouldn't say it as bug, because this functionality was never added. I never really thought of it, so I will take it as a feature request!

[2015-10-31 19:21] JustasKuizinas opened #6 "fc-future class applied to past day's"
To day is 2015-10-31 and when you switch to 2015-11, October 26,27,28,29,30 have class ".fc-future" it should have class ".fc-past" because these days are past.

http://webapps.lt/demo/calendario-bug/planner.php

[2015-11-16 04:42] nishadotcom opened #7 "Previous and Next Month"
Hai @deviprsd21

I like to push my code into a branch. I think that would be better.
Could please create a new branch for it and let me know the name?

Best,
Real Infotech Services
nisha.com126@yahoo.com

[2015-11-16 20:45] deviprsd commented on #7
name of the branch - test-branch

[2015-11-17 04:16] nishadotcom commented on #7
Hai @deviprsd21!

The new build has the functionality. You have done it.

You can check the old and new new for proof.
![calo](https://cloud.githubusercontent.com/assets/15242739/11202616/f723762c-8d0f-11e5-9efb-7365f9191953.png)
![cal](https://cloud.githubusercontent.com/assets/15242739/11202618/fdba7a08-8d0f-11e5-8b6f-cd1372ad01ef.png)

Thanks.

Best,
Real Infotech Services,
 nisha.com126@yahoo.

[2015-11-18 05:57] deviprsd commented on #7
So you won't be pushing your code?

[2015-11-18 06:41] deviprsd commented on #3
Bug Fixed :smile:, get the update!

[2015-11-18 06:41] #3 closed, assigned to deviprsd

[2015-11-18 07:04] nishadotcom commented on #7
It is my pleasure to push it. I will do and let you know asap.

Best,
Real Infotech Services,
nisha.com126@yahoo.com

[2015-11-18 09:06] nishadotcom commented on #7
Hai @deviprsd21

I get the following error on push command
![erro](https://cloud.githubusercontent.com/assets/15242739/11236768/bb8b93fe-8e01-11e5-8c57-bec1016366a7.png)

Best,
Real Infotech Services,
nisha.com126@yahoo.com

[2015-11-18 19:53] deviprsd commented on #5
@JustasKuizinas I have almost added this feature, but I'm not able to decide whether this kind of date, i.e. the emptydates, to contain the event details, I think it would be good to just show the fc-today class and not its event details as it might destroy the purpose of the name emptydate. What do you think?

[2015-11-27 12:33] JustasKuizinas commented on #5
Well you are correct, but it would be nice to have events on previous/next month days. Dont know how much people need this funcionality but for example I need it in my project :)

[2015-12-02 04:20] deviprsd commented on #5
I have to then test the performance before including this feature!

[2015-12-12 07:59] ken-colvin opened #8 "Full page in a container with a fixed width and height"
Hi - Love your calendar. I really want to use your full page calendar but I can not figure out how to change the css to be in a container of fixed width and height.

Can you give an example using the (Full Page) calendar but have it be in a container whose width is 400px and height 300px

Full page being http://deviprsd21.github.io/Calendario/

[2015-12-12 15:33] deviprsd commented on #8
You mean the calendar will be wrapped in a container whose dimensions is 400x300, like a mobile device?.

[2015-12-12 18:10] ken-colvin commented on #8
Any div of any dimension.  For example, 800x600, 400x300,  600x600, ... Basically I want to define the fixed width and height of the div:

Scenario: 1 calendar whose width is 800 and height 600

[code]

Scenario: 2 calendars in 1 row and 2 columns of equal dimensions

[code]

[2015-12-12 18:10] ken-colvin commented on #8
Sorry, accidentally clicked Close ...

[2015-12-13 08:22] deviprsd commented on #8
`class` attributes value should be wrapped around quotes, and it seems you are using bootstraps grid, don't used fixed dimensions on them, they are meant to  be responsive. You can find your answer in **calendar.css**, see `.fc-calendar-container`. Find the same thing in **custom_1.css**

[2015-12-19 14:29] deviprsd commented on #8
I hope your problems have been fixed!

[2015-12-31 23:20] RedNan opened #9 "Remove time from cells/calendar"
I am pretty much a complete beginner. I don't even know what to search Google for!
I updated from  jquery.calendario.js v1.0.0 to:  jquery.calendario.js v3.2.0 and added jquery.calendario.min.js.

I really need to get rid of the time in each calendar cell. I'm sure this is drop dead simple, but I just can't seem to find the solution.

I'll keep trying...
Thank you.

[2016-01-01 11:52] deviprsd commented on #9
Like hiding it or completely removing it?

[2016-01-01 17:58] RedNan commented on #9
Either. Just so long as it does not show on the calendar.

[2016-01-04 18:53] deviprsd commented on #9
Oh, then it is good to have the time tags. Just use css to remove them. Search in google, `display: none;` and in this way you will learn something

[2016-01-04 19:13] RedNan commented on #9
HA!
Yes, display:none I quite understand!

It's where to PUT display:none that I find difficult!

However, you mention css, so I can forget all other and focus there.

## Thank you.

Nancy Cardinali
415-717-7913 - cell
Nancy@CardinaliDesigns.com
www.CardinaliDesigns.com
Web & Graphic Design

[code]

[2016-02-05 07:06] #9 closed, assigned to deviprsd

[2016-02-11 15:09] wheelq opened #10 "Full year view"
Is there an option to dyspliay all 12 months on one page and create a selected range from second month till 5th month?

[2016-02-11 22:09] deviprsd commented on #10
No there isn't, what you can do is create multiple instances of Calendario, like one instance for one month, and so on, then write custom code you create your range. I hope it won't be too difficult?

[2016-02-13 13:13] #6 closed, assigned to deviprsd

[2016-02-13 13:17] #8 closed, assigned to nobody

[2016-02-13 13:17] #7 closed, assigned to nobody

[2016-02-13 14:42] #5 closed, assigned to deviprsd

[2016-02-13 14:47] deviprsd commented on #4
After a lot of thinking, this feature is personal and depends from person to person. So, it will not be added. But if you want some inspiration, go through @JustasKuizinas app, http://webapps.lt/demo/calendario-bug/planner.php

[2016-02-13 14:47] #4 closed, assigned to deviprsd

[2016-02-15 23:28] rayflores opened #11 "Set Months only, and Years only"
Looking for an option to show only certain months... for example 1-6, and NOT 7-12?    same with years:  2016 and 2017 only... or only show current year?  as well as to NOT allow to go into 2018+  and -2016  ?    similar to datepicker yearRange

[2016-02-16 06:14] deviprsd commented on #11
There is no such option but you can do it, like you can go through a check before calling `$('#calendar').calendario('gotoNextMonth', callback);`

[2016-02-16 07:34] rayflores commented on #11
so use the callback as the max so that gotoNextMonth does not exceed?  do I understand that correctly?

[2016-02-16 17:44] deviprsd commented on #11
Kind of but before the callback is called the calendar is already generated. So check the month and before you call the gotoNextMonth function. Check the month and year by using these utility functions, `$('#calendar').calendario('getMonth')` and `$('#calendar').calendario('getYear')`.

[2016-02-16 17:47] rayflores commented on #11
ok.  thank you :)

[2016-02-16 17:49] #11 closed, assigned to deviprsd

[2016-02-22 16:58] rayflores opened #12 "two labels same day"
is there a way to add a foreach to the labels presented 'per day' ?  i do not see an example in your demo, and when I run it currently, there is only the 'last' entry for that day that shows...

[2016-02-22 17:31] rayflores commented on #12
here is my caldata:
`caldata : {'05-01-2016':'10am to 8pm','05-01-2016':'10am to 6pm','05-02-2016':'10am to 8pm','05-03-2016':'4pm to 8pm'}`

as you can see, 05-01-2016 is twice, but displayed is only second label..

[2016-02-22 20:25] deviprsd commented on #12
Multiple events on the same day feature has been added since v2. The details are in the old, and not maintained repo, as this was created by codrops. The format should be this.

[code]

[2016-02-22 20:26] rayflores commented on #12
thank you.

[2016-02-22 20:27] deviprsd commented on #12
In multiple events, wrapping them up in objects is compulsory. You can refer to https://github.com/codrops/Calendario and the [dataTimeline.js](https://github.com/deviprsd21/Calendario/blob/master/js/dataTimeline.js) for more info.

[2016-02-22 20:33] deviprsd commented on #12
May I make a suggestion? If you are making a timeline kind of thing, refer to this, http://deviprsd21.github.io/Calendario/index3.html :smile:

[2016-02-22 20:43] rayflores commented on #12
not a timeline... but just a calendar... with backend settings... wp plugin... http://floressquad.com/customers/testing/sample-page/

[2016-02-22 20:46] deviprsd commented on #12
![2016-02-23](https://cloud.githubusercontent.com/assets/3809354/13232043/60079cbc-d9d3-11e5-9fba-05d2698aee01.png)
Looks like the month and year are in the wrong place.

[2016-02-22 20:47] rayflores commented on #12
css... no worries.... page width...

[2016-02-22 20:48] deviprsd commented on #12
All the best. Ping back, if you need more help. Close this issue if you are done with your problems. Thanks for creating a plugin, share it with me when you are done.

[2016-02-22 20:50] rayflores commented on #12
you bet... thanks for your guidance... big help thus far ;)

[2016-02-22 20:50] #12 closed, assigned to deviprsd

[2016-02-22 20:52] #10 closed, assigned to nobody

[2016-03-02 18:41] ppapadatis opened #13 "Events are not properly listed under their stated date"
Hi,
I've been using your plugin and found a weird issue. I wasn't able to track down completely the problem, but I hope I'll guide you through my findings.

I set two events, the first one with a starting day on **11-01-2016** and an ending day on **11-02-2016** and the second on with a starting day on **12-02-2016** and and ending day on **12-02-2016**.

The problem is that both events are shown

[2016-03-02 20:58] deviprsd commented on #13
I did encounter such problems while updating to the latest version, and if I remember I did fix this problem. Can you make sure that you are using the latest version?

[2016-03-03 11:35] ppapadatis commented on #13
Yes, I do use the latest version (5.0.0) and the problem is still there.

[2016-03-04 13:36] deviprsd commented on #13
Fixing this will take time, Downgrade back to 4.1.0, Thanks for informing this is a very buggy version.

[2016-03-11 15:43] #13 closed, assigned to deviprsd

[2016-03-25 07:35] gagishmagi opened #14 "RTL Support!"
Realy like this plugin,
Please add rtl support for the calendar or
give the the css classes I need to add the rtl support for.

thanks.

[2016-03-27 11:33] deviprsd commented on #14
Can you give an example, how do you think calendario should look like when rtl is being used.

[2016-04-08 15:58] rayflores commented on #12
Hey Devi - just wanted to show you the end product of the plugin I built: http://www.newforestwaterpark.co.uk/opening-times/wake-park-opening-times/

i started a repo here as well:  https://github.com/rayflores/wp-calendario

[2016-04-08 17:40] deviprsd commented on #12
Cool, I'll mention in the docs. Version 6 is underway please take a look at the wikis for what I plan to change in version 6.

[2016-04-24 10:57] #1 closed, assigned to deviprsd

[2016-04-24 11:48] deviprsd commented on #12
Hey,check this, scroll down :smile: https://github.com/deviprsd21/Calendario/blob/master/README.md

[2016-04-28 06:37] rayflores commented on #12
Ha!  that's awesome!  thanks for the mention :+1:

[2016-05-09 18:40] KoniKodes opened #15 "Adding Color-coded Event Categories"
How do I add separate event categories with distinct category colors?
I am wanting 3 different event categories, each showing on its calendar day in the category color.
Thank you.

[2016-05-09 18:55] deviprsd commented on #15
Hi @KoniKodes, The current version is v5.0.1, and you can create as many number of color coded categories. Check out the latest release, https://github.com/deviprsd21/Calendario/releases/tag/v5.0.1 and check this site that uses calendario and also color coded events using categories http://www.newforestwaterpark.co.uk/opening-times/wake-park-opening-times/. You can ask me for help, just reply here

[2016-05-09 18:59] deviprsd commented on #15
If you are going to use Calendario in your website, I might want to add it to our documents for reference

[2016-05-09 19:58] KoniKodes commented on #15
Thank you, Devi,

I’ve looked at the coding and am just a little lost… so much went into that calendar – it is pretty.

Where and how exactly was the categories coded? I can’t see that.

I am hard-coding this, I don’t use wordpress.

Also, I do have files set up already with the data for all 3 categories. Is it possible to pull from those, or will I need to copy/paste?

I would like to set it up a

[2016-05-09 19:59] KoniKodes commented on #15
I would love to share with you once it is in place.

I’ve been searching for the perfect template for so long, that I will be very proud to showcase it when it is in place. And, I’ll be happy to link back to you,

From: Devi Prasad [mailto:notifications@github.com]
Sent: Monday, May 9, 2016 11:59 AM
To: deviprsd21/Calendario
Cc: KoniKodes; Mention
Subject: Re: [deviprsd21/Calendario] Adding Color-

[2016-05-09 23:17] KoniKodes commented on #15
I found the solution that was used on the NewForestWaterpark site. Unfortunately, it work for me in this situation.

While there may occasionally be a 2nd child, normally the categories will be on separate dates, such as attached.

![jan2016](https://cloud.githubusercontent.com/assets/18405001/15131030/84cfa67e-1601-11e6-89f9-aac53c16959a.png)

[2016-05-10 07:47] deviprsd commented on #15
This example contains all the values that can be attached to an event. The category option will then add a class to the event, like for this one the class will be `calendar-work`, then you can use css to use color it accordingly.

[code]

I'm not able to figure out your above problem, so please explain again.

[2016-05-10 15:32] KoniKodes commented on #15
Thank you so much!

That is exactly the example I needed to send me in the right direction.

I appreciate it, and I will share with you once I have it in place.

Toni

From: Devi Prasad [mailto:notifications@github.com]
Sent: Tuesday, May 10, 2016 12:48 AM
To: deviprsd21/Calendario
Cc: KoniKodes; Mention
Subject: Re: [deviprsd21/Calendario] Adding Color-coded Event Categories (#15)

This example c

[2016-05-10 21:38] KoniKodes commented on #15
I’m not sure what I’m doing wrong, can’t get the reveal to work.

Here’s what Firefox is saying:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://calendario.t15.org/sync/. (Reason: CORS header 'Access-Control-Allow-Origin' missing).

Does this make sense to you?

Thank you,

Toni

From: Devi Prasad [mailto:notifications@github.com]
Sent: Tuesday

[2016-05-11 22:13] deviprsd commented on #15
It does, It was my attempt to create a service where Calendario backed up the events of the user based on UNIQUE id to a server, and also to provide a ical or hfeed format of the events from the backed up events, you can ignore it or remove it, it won't affect anything. If you want to remove it then just find `return self.sync(data)` and replace it with `return data`. The service was too much work

[2016-05-12 00:41] KoniKodes commented on #15
Thank you. I tried that. I still can't get reveal to work. I'm using index2 from 5.0.1.
Also, I would like to actually have it slide instead of pop-up, using the style of index3 in version 2.
It's not coming together yet, but I have made some progress.

[2016-05-12 08:49] fernando1355 opened #16 "MultiDays Events"
Hi there,

I need to add some events which lasts more than one day, I need to block an interval of days with DateStart and DateEnd of the event, is that possible?

Thanks!

[2016-05-12 14:54] KoniKodes commented on #16
Check out the data.js file. You should be able to have your event date as the start date and the end date inside the comment section.

[2016-05-12 23:40] KoniKodes commented on #15
I have combined index2 and index3 from the first version that I downloaded, and my reveal works well now.
I have attached my current calendar for this month. I would like for Lei Day and Boy's Day to be a soft blue and represent Hawaiian Holidays. I would like for Memorial Day to be a soft green to represent Federal Holidays, while the pink show holidays observed but not federal holidays.

What do

[2016-05-22 22:15] KoniKodes commented on #15
I'm beta testing on my site now.
I've added the background image to the body, and overall I'm happy with it.
However, we've found that on one page, the iPhone 5 portrait and landscape (320x568) and iPhone 6 landscape (667) do not bring the image all the way down. Is there a way to fix this?
http://www.konikodes.com/calendar/hi-cal.html and http://www.konikodes.com/calendar/sd-cal.html

[2016-05-22 22:15] #15 closed, assigned to deviprsd

[2016-05-22 22:16] KoniKodes commented on #15
I'm beta testing on my site now.
I've added the background image to the body, and overall I'm happy with it.
However, we've found that on one page, the iPhone 5 portrait and landscape (320x568) and iPhone 6 landscape (667) do not bring the image all the way down. Is there a way to fix this?
[http://www.konikodes.com/calendar/hi-cal.html](url) and [http://www.konikodes.com/calendar/sd-cal.html](url

[2016-05-23 16:16] deviprsd commented on #15
Try playing with css property `background-size`

[2016-05-23 16:52] KoniKodes commented on #15
I have the background size as 100%. That’s why I was surprised.

From: Devi Prasad [mailto:notifications@github.com]
Sent: Monday, May 23, 2016 9:17 AM
To: deviprsd21/Calendario
Cc: KoniKodes; State change
Subject: Re: [deviprsd21/Calendario] Adding Color-coded Event Categories (#15)

Try playing with css property background-size

—
You are receiving this because you modified the open/close state.

[2016-05-24 17:57] deviprsd commented on #15
Yes, But your code is

[code]

Here the `background-size` is treated as a fallback if `-webkit` and `-o` fail to match with the respective browser. Safari, Chrome and recent versions of Opera are webkit browsers. So if you tried in mozilla for iOS I'm sure you will get the desired effect which you are not getting in Safari or Chrome. All together, the `cover` property is applied to Safari and not

[2016-05-24 19:34] KoniKodes commented on #15
I see. I removed the cover codes, but the problem still exists.
is my  background-size correct with 100% as height and width?

[2016-05-26 22:11] KoniKodes commented on #15
I have fixed  them! :-) Feel free to link or share  [http://www.konikodes.com/calendar.hi-cal](url) and [http://www.konikodes.com/calendar.sd-cal](url).

I appreciate your help.

[2016-05-27 21:32] deviprsd commented on #15
I can give you another suggestion, change the background-size to auto and remove the fixed value to make it scrolling, and it will fit. Try it and let me know!

[2016-05-27 21:56] deviprsd commented on #16
Sorry for the late reply, in the new versions if you want a block of events make sure to use `repeat: 'INTERVAL'`. Here is an example!

[code]

[2016-05-27 21:56] #16 closed, assigned to deviprsd

[2016-08-02 12:14] Mathieu44 opened #17 "bug on IE"
there are a bug on IE, the last colone (sunday) is not display. Exemple :

IE Calendar  :
mond | tue | wed | thu | fri | sat | sun
1            2      3        4     5     6
7            8      9       10    11   12
13         14    15

chrome calendar :

mond | tue | wed | thu | fri | sat | sun
1            2      3        4     5     6      7
8            9      10      11  12   13     14
15

[2016-08-02 15:06] deviprsd commented on #17
Can, you send a screenshot?

[2016-08-03 07:34] Mathieu44 commented on #17
Hello, Thanks for your answer.. I have find your patch after post here, so sorry. Your calendario script is really good.
for people it's here :
https://github.com/codrops/Calendario/commit/a91129e34ac7fd7e429f6d3fe17674d61909642b

[2016-08-04 16:07] #17 closed, assigned to nobody

[2016-10-11 18:21] willwac opened #18 "Make Demo #3 Responsive"
I would love for this to be viewable on mobile devices. I think using bootstrap would help.

[2016-10-13 15:07] deviprsd commented on #18
Sure, but the thing is this is a jQuery plugin and only a few demos are given for designs. The design has been left to the user so that they can do whatever they want. Demos just give you an idea how to use it. I hope you get it.

[2016-10-20 11:47] #18 closed, assigned to nobody

[2016-12-13 11:45] mityakoval opened #20 "Events on the same date of the previous and current month are rendered in the same day"
I will just post some screenshots because this issue is quite hard to explain.

![screen shot 2016-12-13 at 12 36 02](https://cloud.githubusercontent.com/assets/10942685/21138987/01486ff8-c131-11e6-9690-af905bfd92d5.png)
![screen shot 2016-12-13 at 12 36 12](https://cloud.githubusercontent.com/assets/10942685/21138989/049fbb8e-c131-11e6-9d35-8b1fc612c53a.png)

And this is the output from the conso

[2016-12-13 11:54] deviprsd commented on #20
I will need more data to understand what is happening, can you provide me with a link to this project of yours or something?

[2016-12-13 12:12] mityakoval commented on #20
@deviprsd21 I have sent you the link and credentials to deviprsd21@gmail.com

[2016-12-13 12:25] mityakoval commented on #20
@deviprsd21 You can see actual events on a certain day by clicking on it.

[2016-12-13 12:41] deviprsd commented on #20
![2016-12-13 3](https://cloud.githubusercontent.com/assets/3809354/21140657/59148d56-c15f-11e6-8529-3fb26e83b36c.png)
I'm testing your backend data with Calendario v5.0.1 (Released a long time ago) and this is the result. And that is the month of December with Jan 1st as it's last date.

[2016-12-13 12:45] mityakoval commented on #20
OK. So it's probably my code. Any ideas what might be causing such behaviour? Because I have changed the implementation a little bit. But I've compared `Calendario.prototype.parseDay` and `Calendario.prototype.parseDataToDay` functions to my code and they are the same.

[2016-12-13 12:52] deviprsd commented on #20
It seems you have made some changes with original js file, do look into it. And I can't seem to think why it is happening with you without knowing what changes you have made so far. Also this looks similar to #13, Look into that too

[2016-12-13 13:16] mityakoval commented on #20
@deviprsd21 Replaced my code with the original and still the same problem. Just to be sure that the server sends correct data:

![screen shot 2016-12-13 at 14 15 20](https://cloud.githubusercontent.com/assets/10942685/21141665/be5649dc-c13e-11e6-83cb-e155e0f1b085.png)

[2016-12-13 13:38] deviprsd commented on #20
Looks like I'm able to reproduce it. I will look into it.

[2016-12-13 13:47] mityakoval commented on #20
Thanks for your time :)

[2016-12-13 14:34] deviprsd commented on #20
Let me know if this worked and give some suggestions for v6 in which way I can make Calendario life more rich and easier

[2016-12-13 14:35] #14 closed, assigned to deviprsd

[2016-12-13 14:39] mityakoval commented on #20
Updated my code with your commit. The issue is fixed for the next month but it is still there for the current month.

![screen shot 2016-12-13 at 15 37 39](https://cloud.githubusercontent.com/assets/10942685/21144228/24d976ba-c14a-11e6-90b2-7df5daff9e05.png)

It still displays events from Nov 30 on Dec 30

[2016-12-13 15:12] deviprsd commented on #20
This should completely fix everything.

[2016-12-13 15:25] mityakoval commented on #20
Awesome! Works for me. Thank you! :)

[2016-12-13 15:31] #20 closed, assigned to deviprsd

[2016-12-19 20:16] Vallevard opened #21 "Interval Event on the fly replace Others Interval Events already added"
Hi,
When I tried to add a new event with the repeat: 'INTERVAL' option  using the function 'setData', It replaces all events that has 'INTERVAL' option, no matter what date, even when it's not the current month.
Could you tell me if you are able to reproduce the issue?
Thanks.
**version:** 5.0.1
**Notes:**

- Adding an event that does not use this option works but if it has more that one option it

[2016-12-26 10:31] deviprsd commented on #21
I'll look into it

[2017-01-08 21:53] cpba opened #22 "There is no clear license"
There's a section labelled "Licensing & Terms of Use" at the bottom of "README.md" but it doesn't link to any actual software license, only some rather ambiguous guidelines.

Please add a license, or otherwise clearly state that this is proprietary software.

[2017-01-08 21:58] deviprsd commented on #22
I forked the project from codrops/Calendario after taking permission from them and didn't bother to add one and not going to since I'm thinking of deprecating this in favor CalendarioFX which will be more advanced version of it.

[2017-01-14 14:28] deviprsd commented on #21
I didn't have time to look into it but will do it by January 31st, thanks for having patience.

[2017-01-14 15:45] Alejandro888 opened #23 "Insert picture on the days events"
Please advice how to put picture on the days events like this:
![](https://s29.postimg.org/lagwz3o3b/pic.jpg)
Thank you

[2017-01-14 19:58] deviprsd commented on #23
There are two ways in which you can achieve this, one is adding the image link in the `url` property or the `note` property of the events. `url` property is processed by Calendario to determine if the content should be wrapped with `<a></a>` or `<span></span>`. So, if you use url your events will appear as links in demo1 and demo3. But `note` here is a very dynamic property, which is untouched by

[2017-01-14 20:00] #22 closed, assigned to nobody

[2017-01-14 20:41] Alejandro888 commented on #23
Hi thank you, I use demo 2
So I put this:
	'02-07-2017' : [{
	    "content": "Some event",
	    "allDay": true,
            "note": {
                 "img": "BCF.jpg"
             }
     }]
}

no error, but on calendar on the note it not showing the picture,  it give me this: **[object Object]**

[2017-01-14 20:44] deviprsd commented on #23
Are you new to JavaScript and coding? Because if so, I'll give the whole answer but if you read and understand this https://github.com/deviprsd21/Calendario/blob/master/index2.html#L94 you will have more understanding of using Calendario to the full extent

[2017-01-14 20:45] Alejandro888 commented on #23
ye I am a noob :) I was hopeing that you will give me the cod line. :(

[2017-01-14 20:56] deviprsd commented on #23
https://github.com/deviprsd21/Calendario/blob/master/index2.html#L75
[code]

https://github.com/deviprsd21/Calendario/blob/master/index2.html#L94
[code]
Try this

[2017-01-14 21:02] Alejandro888 commented on #23
well I put the two pices of script in calendario.js  I use the
'02-07-2017' : [{
"content": "Some event",
"allDay": true,
"note": {
"img": "BCF.jpg"
}
}]
}

and now when I click the date the window of event that slide bottom to top will not open.

[2017-01-14 21:05] deviprsd commented on #23
Please paste your edited code, I'm giving a lot of time but github isn't the place you ask for help.

[2017-01-14 21:10] Alejandro888 commented on #23
I appreciate your time and effort.
So I use the Calendario-master  demo2
and if you please modifiy the script for this
![](https://s29.postimg.org/lagwz3o3b/pic.jpg)

And please tell me what to paste where to put it js or css

[2017-01-14 21:13] deviprsd commented on #23
I don't have much time to help you with all of it, do one thing. Ask your question on stackoverflow and in your question add this issue link https://github.com/deviprsd21/Calendario/issues/23 so they can read through it and help you out. As a developer, the best way to learn is by not spoon feeding. You will learn to use js and css soon, but I have a lot of deadlines to catch up.

[2017-01-14 21:13] #23 closed, assigned to nobody

[2017-01-14 21:27] Alejandro888 commented on #23
thank you for your time, I will try on stack.

[2017-03-05 11:49] Farahismail opened #24 "How to disable past dates in Calendario and How to add events for an interval"
I need to disable all past dates and make them not clickable.
Also i want to add events for an interval. For example i have an event from Saturday to Wednesday every week.
can anyone help please

[2017-03-05 13:39] deviprsd commented on #24
Which version are you using, update to the latest available in this repo if you are using version less than 4.

[2017-03-05 13:56] Farahismail commented on #24
I'm using the latest version, i download it this morning

[2017-03-05 13:57] Farahismail commented on #24
I figure it out the interval thing
I just need how to lock or disable the past dates
for example everything from yesterday and going back to be disabled.

[2017-03-05 15:38] deviprsd commented on #24
Just to confirm, the `repeat` key should be `'SAT, SUN, MON, TUE, WED'`. I'll give you a detailed explanation in some time about how to achieve locking and disabling the past dates.

[2017-03-05 17:09] deviprsd commented on #24
You can easily extend any part of Calendario like this for example,
[code]

Create a new JS file and include it after **calendario.js** or **calendario.min.js**. The `initEvents` function overrides the old one with this new one and this has been adjusted to not act on past dates, do compare with the old function to see the difference. The `containsPastDates` is a helper function added to help you

[2017-08-02 23:33] Peterngkc opened #25 "How to display multiple events by having flexible row height?"
I have managed to output multiple events on one day from my database. However, the height of each row in the Calendar does not adjust to the number of events.

Is there anyway to have the calendar adjust its row height automatically depending on the number of events, without using scroll?

[2017-08-16 06:35] Peterngkc commented on #25
Added these code to get a dynamic height for each row in the calendar.  However, it is no too 'responsive' to the width of the browser.

$('#calendar').on('shown.calendar.calendario', function () {

            var elementHeight1 = $('.fc-row:nth-child(1) .fc-content').map(function () {
                return $(this).height();
            }).get();
            var maxHeight = Math.max.apply(null,

[2017-08-16 09:42] deviprsd commented on #25
Why don't you just use a scroll, like a javascript custom scroll or css one.

[2017-08-16 10:36] Peterngkc commented on #25
There will be at least 8-15 events per day. Using a scroll will make it rather untidy.

By the way, the calendar appears first then followed by the data from the database. How do I load the data first?

[2017-08-16 10:50] deviprsd commented on #25
https://github.com/CalendarioFX/Calendario/blob/master/index2.html#L114 like this, if you happen to load the events through ajax or whatever method you are using. You can initialize calendar after a successful ajax and likewise.

[2017-08-16 12:11] Peterngkc commented on #25
Can you guide me? I load the events using:

            $.get('/Calendar/CalendarJson', { name: 'content' }, function (data) {
                var obj = JSON.stringify(data);
                $('#calendar').calendario('setData', data, false);
            }, 'json');

[2017-08-16 16:42] deviprsd commented on #25
How about you initialize the calendar when you have the events
[code]

[2017-08-17 10:06] Peterngkc commented on #25
Thanks, it works!

[2017-08-18 12:24] #25 closed, assigned to deviprsd

[2017-08-31 19:20] KoniKodes opened #26 "Tried to Upgrade to Responsive and jQuery Error"
Hi,
I tried to use the upgrade for responsive and I am not sure what I did wrong, but this is the error:
jquery.min.js:2 Uncaught TypeError: Cannot use 'in' operator to search for 'length' in New Year's Eve<span><br/>Have a Safe and Happy New Year's Eve!</span>
    at s (jquery.min.js:2)
    at Function.each (jquery.min.js:2)
    at String.<anonymous> (jquery.calendario.js:121)
    at Function.eac

[2017-09-26 23:55] guaguasi commented on #4
I just ran into this issue while updating an app of mine. I just want to point out that the issue is not exactly a regex issue and not a jQuery issue. It's an infinite loop stack overflow and could be considered a bug/gotcha of Calendario. If the element in question doesn't exist and you have a `calendario()` call within your `finish.calendar.calendario` event handler, it will continuously attempt

[2017-09-27 00:04] KoniKodes commented on #26
I am still having this error. Can someone help me please?

[2017-09-27 18:55] deviprsd commented on #26
I have to look at your event data to help you out.

[2017-09-27 19:33] KoniKodes commented on #26
Thank you. How can I get that to you?

Toni

[2017-09-30 08:19] Farahismail commented on #24
Thank you a lot it worked !!

But I also would like to know if possible to set a range of dates to disable.
For example from 3 Sep to 12 Sep disabled or a different background color. And another range date from 4 Oct to 7 Oct also colored background ...

[2017-10-03 23:26] deviprsd commented on #26
Paste it here.

[2017-10-03 23:31] deviprsd commented on #24
Yes, there is a `category` key like the `repeat` key which takes a string. It adds a class to the events with the same name suffixed with 'calendar-'. For example, if you use `calendar: 'disable'`, then the event will have a class `'calendar-disable'`, then you can use CSS to do disable stuff.

[2017-10-04 01:19] KoniKodes commented on #26
[hi-data.zip](https://github.com/CalendarioFX/Calendario/files/1354336/hi-data.zip)

[2017-10-04 01:19] KoniKodes commented on #26
Thank you.
Did not mean to close. It is still an issue.
I appreciate your help.

[2017-10-11 09:45] PatrickBer opened #27 "How do I make all the events displayed in one day in the overview."
How do I make all the events displayed in one day in the overview. (Demo2)
In different colors
Just like on the picture.
![24d976ba-c14a-11e6-90b2-7df5daff9e05](https://user-images.githubusercontent.com/32702036/31433334-459d814e-ae79-11e7-8805-598b24a637d1.png)

[2017-10-22 16:40] deviprsd commented on #26
Can you try to follow this format for your events as shown here, https://github.com/CalendarioFX/Calendario/blob/master/js/data.js. Then let me know if it works on not.

[2017-10-22 18:28] KoniKodes commented on #26
I found the script name changed from src="js/calendario.min.js to src="js/jquery.calendario.min.js. When I fixed my html to reflect that, I received this message:

~prev-hi-cal.html.htm:1 Refused to execute script from 'https://raw.githubusercontent.com/codrops/Calendario/master/js/update.js?_=1508696607847' because its MIME type ('text/plain') is not executable, and strict MIME type checking is e

[2017-10-22 20:13] deviprsd commented on #26
When you are initializing the calendar, add `checkUpdate` and set it to `false`. Like how it is shown here https://github.com/CalendarioFX/Calendario/blob/61bfbc0d53087b00de49586bfd64ce9f26a6336e/index.html#L71

[2017-10-22 22:12] KoniKodes commented on #26
This is perfect! Thank you so much!
You can see my calendar [here](http://konikodes.com/calendar/hi-cal.html)

[2017-11-08 16:44] BeingCreativeUs opened #28 "How to put color depending on category"
Hi! I want to color the days if there's an event. I attach a example of what I want.

![screenshot_3](https://user-images.githubusercontent.com/28728339/32561298-475eaa5a-c4ac-11e7-8c11-05e535b947dc.png)

I see that when you put a date on data.js, the category class goes to the span of the event title, but I would like to have that class on the day too (where appears fc-content).

Is it possible?

[2017-11-16 17:54] #26 closed, assigned to nobody

[2017-11-16 17:55] deviprsd commented on #28
Refer, https://github.com/CalendarioFX/Calendario/issues/15#issuecomment-218083161

[2017-12-20 14:02] prodixx opened #29 "How to disable certain dates"
Is the a way i can disable certain dates? Like 25-12-2017 ?

Thank you.

[2018-02-13 18:49] dily86 opened #30 "to disable dates before today's date"
How can I disable dates prior to today's date?

[2018-02-14 17:38] deviprsd commented on #29
Not exactly yet, maybe with some extra javascript

[2018-03-16 05:04] Vallevard commented on #30
Hi, could you be more specific about your question?
First thing came in my mind is this scenario: You don't want people add new events prior to today's date but show the events that belongs to that date.
You could do something like this:
#### Get current date:
1.  Using this functions once all the calendario have been initialized:
[code]
2. Using javascript
[code]
#### And then... Get data from da

[2018-05-11 19:49] jamie-nxtgencare opened #31 "Week day name bug"
Retrieving the week day name for a date on a Saturday always returns Sunday. This is because of a bad bug fix from 5 years ago:

https://github.com/codrops/Calendario/commit/0977d07178e5f1b818795e309709309d2340eb1a

The bug fixed reads:

While they are correct if self.options.startln is 1, if you don't set that to 1, then you move Saturday to Sunday needlessly. This line should be:

`'weekdayname'

[2018-05-23 13:14] deviprsd commented on #31
Looks good, I'll do a little bit more test and merge the pull request.

[2018-05-23 13:14] #31 closed, assigned to nobody

[2018-05-23 13:16] deviprsd commented on #30
@dily86 Hopefully, @Vallevard answered your question. If not, with some more specifics we will be able to help you more.

[2018-05-23 13:17] #28 closed, assigned to nobody

[2018-05-23 13:18] #24 closed, assigned to nobody

[2018-05-23 13:45] jamie-nxtgencare commented on #31
👍

[2018-06-25 16:17] pixelzdesign commented on #17
This codrops/Calendario@a91129e stil doesn't work in IE and Edge.
I find solution. Thanx frxnz.

[2018-06-25 18:05] pixelzdesign opened #33 "Calendar INTERVAL, WEEKDAYS, ... doesn't work when update jQuery to ver. 3.3.1"
Only day events works, when I put for repeat INTERVAL, WEEKDAYS, ... events doesn't appear in calendar.
How to solve this to work with jQuery ver. 3.3.1
EDIT: It's work.
I use Laravel and can't make to work INTERVALS. Only work MONTHLY

[2018-06-28 18:36] pixelzdesign opened #34 "How to change background color on weekends (sat, sun columns)"
How to change background color on weekends (sat, sun columns)?

[2018-06-29 13:55] pixelzdesign commented on #34
OK. I found solutions by myself. If somebody need it, it's here:

[code]

[2018-07-21 04:42] krishnapreejith commented on #34
This is awsome.. But when I used this previous months and future months sundays also get highlightened.. Is there any way to remove this.

[2018-07-31 19:09] pixelzdesign opened #35 "5.0.2 BUG for repeat: MONTHLY and INTERVAL"
1. Event
`'01-07-2018' : [{content: 'Monthly And Yearly', repeat: 'MONTHLY', allDay: true, endDate: '02-07-2019'}],`
not work MONTHLY (work as YEARLY). The event is shown only on January 1, 2018 and January 1, 2019.

2. When I put an event that goes over the next month:
`'03-02-2018' : [{content : 'Graduation Exams', repeat: 'INTERVAL', allDay: true, endDate: '04-20-2018'}],`
show the events in th

[2018-08-14 14:57] pixelzdesign commented on #35
Now it's working for v5.0.2

[2019-08-01 13:25] deviprsd commented on #35
Please make a pr and I'll merge it

[2019-08-01 13:25] #35 closed, assigned to nobody

[2019-08-01 13:26] #34 closed, assigned to nobody

[2019-08-01 13:28] deviprsd commented on #33
I probably won't support jQuery 3. My current plans are to move this to ESM, IIFE and CJS formats so they can be used in multiple platforms. You won't require jQuery in the future to use Calendario

[2019-08-01 13:28] #33 closed, assigned to nobody

[2019-08-01 13:28] #30 closed, assigned to nobody

[2019-08-01 13:29] #29 closed, assigned to nobody

[2019-08-01 13:30] #27 closed, assigned to nobody

[2019-08-01 13:30] #21 closed, assigned to nobody